* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --blue: hsl(223, 87%, 63%);
  /* secondary colors */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  /* neutral colors */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  /* font-sizes */
  font-size: 20px;
  --family: [Libre franklin];
  --weight1: 300;
  --weight2: 600;
  --weight3: 700;
}
body {
  background-color: #fff;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero h1 {
  font-weight: var(--weight3);
  font-family: var();
  color: var(--gray);
}
.hero p {
  color: var(--gray);
  font-size: 20px;
}
.input {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
input {
  padding: 14px 4rem;
  border-radius: 85px;
  border: 1px solid gray;
}
.notify-me {
  padding: 15px 40px;
  border-radius: 40px;
  background-color: var(--blue);
  border: none;
  color: white;
}
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.three {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 60px;
  border-radius: 40px;
  filter: brightness(0) saturate(100%) invert(23%) sepia(87%) saturate(100%)
    invert(23%) sepia(87%) saturate(745%) hue-rotate(190deg) brightness(93%)
    contrast(92%);
  align-items: center;
  
}
.three p {
    color: var(--gray);
}